body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #757575;
    
}

:root{
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --item-color: #F5F4FA;
    --logo-black-color: #000000;
    --primary-bcg-color: #FFFFFF;
    --secondary-bcg-color: #2F303A;
}
.visually-hidden {
    position: absolute;
     white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path: inset(50%);
     margin: -1px;
   }

/*-------HEADER-------*/

.pole-header{
    background-color: var(--primary-bcg-color);
}
.logo-header{
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-span{
    color: var(--logo-black-color);
}

/*-------navigation to pages-------*/

.nav-item{
    color: var(--primary-title-color);
}
.streaming-page{
    color: var(--accent-color);
}

/*----hover and focus for all header----*/
.nav-item:hover, .nav-item:focus, .contact-item:hover, .contact-item:focus{
    color: var(--accent-color);
}

.nav-item, .contact-item{
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/*-----list od contacts-----*/

.contact-item{
    color: var(--primary-text-color);
}

/*--------MAIN--------*/
/*----hero----*/

.hero-page{
    background-color: var(--secondary-bcg-color);
    color: var(--primary-bcg-color);
}
.hero-title{
    
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-bcg-color);
}
.primary-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--primary-bcg-color);
    background-color: var(--accent-color);
}
.primary-btn:hover, .primary-btn:focus{
    background-color: #188CE8;
}

/*----strong parts----*/

.strong-part-title{
    
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-title-color);
}
.strong-text{
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    
}

/*----Examples of our work----*/

/*----title for work and team----*/
.title{
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-title-color);
}
.work-list, .team-list, .adres-list, .btn-list, .project-list, .list, .strong-list{
    list-style: none;
}

/*----Our team----*/

.team{
    background-color: var(--item-color);
}
.name-list{
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-title-color);
}

.team-text{
    
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;

    
}
.card-worker{
    background-color: var(--primary-bcg-color);
}

/*--------FOOTER--------*/

.low-part{
    background-color: var(--secondary-bcg-color);
}
.logo-footer{
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}
.footer-span{
    color: var(--primary-bcg-color);
}
.adres-map{
    
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    letter-spacing: 0.03em;

    color: var(--primary-bcg-color);
}

.contact-footer{
    
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
.contact-footer:hover, .contact-footer:focus{
    color: var(--accent-color);
}

/*--------MAIN OF PAGE PORTFOLIO--------*/


.secondary-btn{
    font-family: 'Roboto', sans-serif;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;


    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-title-color);
    background-color: var(--item-color);
    cursor: pointer;
}
.secondary-btn:hover, .secondary-btn:focus{
    background-color: var(--accent-color);
    color: var(--primary-bcg-color);
}

.project-link{
    text-decoration: none;
}
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;

    color: var(--primary-title-color);
}
.project-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;

    letter-spacing: 0.03em;

    color: #757575;
}